NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
RESEND_API_KEY=
RESEND_FROM=Mindjer i Futuro <info@mindjerifuturo.org>
CONTACT_EMAIL=info@mindjerifuturo.org
NEXT_PUBLIC_SITE_URL=https://mindjerifuturo.org
